<div class="Row {{modifier}}">
  <div class="Column">
    {{#description}}
      {{>molecules-project-description}}
    {{/description}}
  </div>
  <div class="Column">
    {{#image}}
      {{>atoms-images}}
    {{/image}}
  </div>
</div>
